.blueBack {
    -fx-background-color: #87BCDE;
}

.button {
    -fx-background-color: white;
    -fx-text-fill:  #276890;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #276890;
    -fx-text-fill:  white;
}

.label {
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #87BCDE;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #276890;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #CFE4F2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #BFDBED;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #FAE2DB;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #BFDBED;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}